<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466320903966-44bkcgh9sk1emfeqcuevhv76uqosmsv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466320903966-44bkcgh9sk1emfeqcuevhv76uqosmsv4</string>
	<key>API_KEY</key>
	<string>AIzaSyDRft_7Mb_OWGVHsWsi0gaS3LVQytPSpPI</string>
	<key>GCM_SENDER_ID</key>
	<string>466320903966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rocky.youtubeApp</string>
	<key>PROJECT_ID</key>
	<string>youtubeapp-288408</string>
	<key>STORAGE_BUCKET</key>
	<string>youtubeapp-288408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466320903966:ios:ecd5d86bffd96f559c430f</string>
	<key>DATABASE_URL</key>
	<string>https://app-288408.firebaseio.com</string>
</dict>
</plist>